#.env
NODE_ENV=development
PORT=8082
USER='vbkxmhcwhsnoxe'
HOST='ec2-54-243-197-120.compute-1.amazonaws.com'
DATABASE='d3cledlk3uuch6'
PASSWORD='ba3232ca7f43cbd24ae67032e8a29a530e7f2e50b7a68b7d9e63ff545e6d04fb'
PORT=5432

node_modules

# dotenv environment variables file
#.env

