<table width="100%" border="0" cellspacing="0" cellpadding="0">

    <tr>
        <td class="h2">
            <strong>{{titulo}}</strong>
        </td>
    </tr>
    <tr>
        <td class="h2">
            <small>  {{subtitulo}}</small>
        </td>
    </tr>
    <tr>
        <td class="h2">
            <small>
                 {{{contenido}}}
        </small>
        </td>
    </tr>
    <tr>
        <td class="h2" style="text-align:center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" colspan="2"><small>Descarga nuestra app</small></td>
                </tr>
                <tr>
                    <td align="right" style="text-align:right">
                        <a href="{{& url_descarga_app_android}}">
                            <img src="https://res.cloudinary.com/hmyi1rv5d/image/upload/v1625794225/public/android_r2bwvt.png" width="60px" height="50px" />
                        </a>
                    </td>
                    <td align="left" style="text-align:left">
                        <a href="{{& url_descarga_app_ios}}">
                            <img src="https://res.cloudinary.com/hmyi1rv5d/image/upload/v1625794222/public/ios_bihyo1.png" width="60px" height="50px" />
                        </a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>