<table width="100%" border="0" cellspacing="0" cellpadding="0">

    <tr>
        <td class="h2">
            <strong>{{titulo}}</strong>
        </td>
    </tr>
    <tr>
        <td class="h2">
            <small>  {{subtitulo}}</small>
        </td>
    </tr>
    <tr>
        <td class="h2">
            <small>
                 {{{contenido}}}
        </small>
        </td>
    </tr>
    <tr>
        <td class="h2" style="text-align:center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" colspan="2"><small>Descarga nuestra app</small></td>
                </tr>
                <tr>
                    <td align="right" style="text-align:right">
                        <a href="{{& url_descarga_app_android}}">
                            <img src="https://firebasestorage.googleapis.com/v0/b/magic-ff92f.appspot.com/o/default%2Frecursos%2Fandroid.png?alt=media&token=70b27d4f-4b75-4478-8a7e-89e64e5a23af" width="60px" height="50px" />
                        </a>
                    </td>
                    <td align="left" style="text-align:left">
                        <a href="{{& url_descarga_app_ios}}">
                            <img src="https://firebasestorage.googleapis.com/v0/b/magic-ff92f.appspot.com/o/default%2Frecursos%2Fios.png?alt=media&token=90316365-6735-4a05-ada0-26ea8618df3e" width="60px" height="50px" />
                        </a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>